<h1><%= @vendor.name %></h1>
<br>
<h4>Contact Info:</h4>
Name: <%= @vendor.contact_name %>
<br>
Phone: <%= @vendor.contact_phone %>
<br>
Credit Accepted?: <%= @vendor.credit_accepted ? 'YES' : 'NO' %>
<br>
Description: <%= @vendor.description %>
<br>
<h5>Search for Markets to add this vendor:</h5>
<div id='market_search'>
  <%= form_with url: vendor_path(@vendor.id), method: :get, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :city %>
    <%= form.text_field :city %>
    <%= form.label :state %>
    <%= form.text_field :state %>
    <%= form.submit "Search" %>
  <% end %>
</div>
