<h1><%= @vendor.name %></h1>
<br>
<h4>Contact Info:</h4>
Name: <%= @vendor.contact_name %>
<br>
Phone: <%= @vendor.contact_phone %>
<br>
Credit Accepted?: <%= @vendor.credit_accepted ? 'YES' : 'NO' %>
<br>
Description: <%= @vendor.description %>