<h1>Markets</h1>
<br>
<% @facade.each do |market| %>
  <div id='market_<%= market.id %>'>
      <h2><%= market.name %></h2>
      <p><%= market.city %>, <%= market.state %></p>
      <%= button_to "More Info", market_path(market.id), method: :get %>
  </div>
<% end %>